*.pyc
*.exe
config.ini
assets-*/
env/
prototype/build/*
standalone/build/*
standalone/dist/*
standalone/mltd*.db
standalone/mltd*.log*
standalone/mltd/locales/*.cmd
tools/imgui.ini
tools/apk-patcher/build/*
tools/apk-patcher/dist/*
