altgraph==0.17.3
certifi==2023.7.22
charset-normalizer==3.2.0
dnslib==0.9.23
glfw==2.6.2
greenlet==2.0.2
idna==3.4
imgui==1.4.1
json-rpc==1.15.0
marshmallow==3.20.1
marshmallow-sqlalchemy==0.29.0
msgpack==1.0.5
netifaces==0.11.0
packaging==23.1
pefile==2023.2.7
pycryptodome==3.18.0
pyinstaller==5.13.0
pyinstaller-hooks-contrib==2023.6
PyOpenGL==3.1.7
pywin32-ctypes==0.2.2
requests==2.31.0
SQLAlchemy==2.0.19
SQLAlchemy-Utils==0.41.1
typing_extensions==4.7.1
urllib3==2.0.4
